@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Slab:wght@600;700&display=swap');

:root {
	--clr-dark: #0f172a;
	--clr-white: #f8fafc;
	--clr-brand: #3b82f6;
	--clr-grey: #cbd5e1;
	--ff-poppins: 'Poppins', sans-serif;
	--ff-roboto: 'Roboto Slab', serif;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 10vh;
}

body {
	padding: 0;
	margin: 0;
	font-family: var(--ff-poppins);
	color: var(--clr-dark);
	background-color: var(--clr-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-roboto);
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 3em 10%;
}

@media screen and (min-width: 768px) {
	section {
		padding: 5em 10%;
	}
}

@media screen and (min-width: 1279px) {
	section {
		padding: 6em 10%;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ---HEADER--- */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-height: 10vh;
	position: sticky;
	top: 0;
	background-color: var(--clr-white);
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.04);
	z-index: 2;
	padding: 1rem 10%;
}

header > div {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1em;
	height: 100%;
}

header > div > img {
	aspect-ratio: 4/3;
	height: 2rem;
}

header > div > h1 {
	font-size: 1.15em;
}

nav > .menu {
	display: block;
	height: 2.5rem;
	cursor: pointer;
}

nav > ul {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	gap: 1.75rem;
	top: 100%;
	right: 0;
	width: 100%;
	padding: 1.75rem 0;
	background-color: var(--clr-grey);
	opacity: 0;
	transform: translateY(-100%);
	transition: transform 300ms, opacity 300ms;
	isolation: isolate;
	z-index: -1;
	list-style: none;
}

nav > ul.show {
	opacity: 1;
	transform: translateY(0);
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.04);
}

nav > ul {
	flex-direction: column;
}

nav > ul > li {
	transition: color 150ms;
}

nav > ul > li:hover {
	color: var(--clr-brand);
}

@media screen and (min-width: 768px) {
	header {
		padding-block: 1.5rem;
	}

	header > div {
		gap: 1.5rem;
	}

	header > div > img {
		height: 3rem;
	}

	nav > ul {
		position: static;
		flex-direction: row;
		padding: 0;
		width: auto;
		font-size: 0.8em;
		background-color: var(--clr-white);
		opacity: 1;
		transform: unset;
	}

	nav > .menu {
		display: none;
	}
}

@media screen and (min-width: 1279px) {
	header > div > img {
		height: calc(100% - 3rem) rem;
	}

	header > div > h1 {
		font-size: 1.75rem;
	}

	nav > ul {
		font-size: 1em;
		gap: 4rem;
	}
}

.section_heading {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
	margin-bottom: 3.5em;
}

.section_title {
	font-size: 2rem;
}

.section_desc {
	font-size: 0.85rem;
}

@media screen and (min-width: 768px) {
	.section_title {
		font-size: 2.5rem;
	}

	.section_desc {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1279px) {
	.section_heading {
		gap: 1em;
		margin-bottom: 4em;
	}

	.section_title {
		font-size: 3rem;
	}

	.section_desc {
		font-size: 1.15rem;
	}
}

/* ---HERO--- */
.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	text-align: center;
	overflow: hidden;
	max-height: 90vh;
	border-bottom: 1px solid var(--clr-grey);
}

.hero > h1 {
	font-size: 3rem;
	font-weight: 400;
}

.hero > p {
	font-size: 0.9rem;
}

.hero > .btn {
	background-color: var(--clr-brand);
	color: var(--clr-white);
	width: fit-content;
	align-self: center;
	margin-top: 1.5rem;
	padding: 1em 1.5em;
	border: 2px solid var(--clr-brand);
	border-radius: 0.75em;
	font-size: 0.9rem;
	transition: background-color 200ms, color 200ms;
}

.hero > .btn:hover,
.hero > .btn:focus {
	background-color: transparent;
	color: var(--clr-brand);
	outline: none;
}

@media screen and (min-width: 768px) {
	.hero {
		text-align: left;
	}

	.hero p {
		max-width: 32em;
	}

	.hero > .btn {
		align-self: flex-start;
	}

	.hero > .hero_img {
		position: absolute;
		bottom: 0;
		right: 0;
		translate: 30% 25%;
		width: 28em;
		aspect-ratio: 1;
		border-radius: 50%;
		background-image: url('/ship.jpg');
		background-position: center;
		background-size: cover;
		overflow: hidden;
		z-index: -1;
	}
}

@media screen and (min-width: 1279px) {
	.hero {
		height: 90vh;
		gap: 2em;
		justify-content: center;
	}

	.hero > h1 {
		font-size: 5rem;
	}

	.hero > p,
	.hero > .btn {
		font-size: 1.15rem;
	}

	.hero > .btn {
		margin-top: 2rem;
	}

	.hero > .hero_img {
		width: 40em;
		translate: 17% 20%;
	}
}

@media screen and (min-width: 1720px) {
	.hero > h1 {
		font-size: 6rem;
	}
	.hero > p,
	.hero > .btn {
		font-size: 1.5rem;
	}

	.hero > .hero_img {
		width: 50em;
		translate: 17% 25%;
	}
}

/* PRODUCTS */
.products_list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.25em;
	list-style: none;
}

.products_list > .product {
	overflow: hidden;
}

.products_list > .product > img {
	border-radius: 0.75em;
	width: 100%;
}

.product h3 {
	font-family: var(--ff-poppins);
	font-weight: 500;
}

.product a {
	color: var(--clr-brand);
	font-size: 0.85rem;
	border-bottom: 2px solid transparent;
	transition: border-color 150ms;
}

.product a:hover,
.product a:focus {
	border-color: 2px solid var(--clr-brand);
}

@media screen and (min-width: 612px) {
	.products_list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1080px) {
	.products_list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1279px) {
	.product h3 {
		font-size: 1.5rem;
	}

	.product a {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1720px) {
	.products_list {
		gap: 4em;
	}
}
