@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Slab:wght@600;700&display=swap');

:root {
	--clr-dark: #0f172a;
	--clr-white: #f8fafc;
	--clr-brand: #3b82f6;
	--clr-grey: #cbd5e1;
	--ff-poppins: 'Poppins', sans-serif;
	--ff-roboto: 'Roboto Slab', serif;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
